<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products || Agriplex</title>
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{url_for('static',filename='/assets/images/favicons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{url_for('static',filename='/assets/images/favicons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{url_for('static',filename='/assets/images/favicons/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static',filename='/assets/images/favicons/site.webmanifest')}}">

    <!-- Fonts-->
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <!-- Css-->
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/swiper.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/bootstrap-select.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/jquery.mCustomScrollbar.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/bootstrap-datepicker.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/vegas.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/nouislider.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/nouislider.pips.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/agrikol_iconl.css')}}">

    <!-- Template styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/responsive.css')}}">

    <!-- progress-bar -->
    <link rel="stylesheet" href="{{url_for('static',filename='/progressBarStyle.css')}}">
    <script src="{{url_for('static',filename='/progressBarScript.js')}}"></script>

</head>

<body>

    <div class="preloader">
        <img src="{{url_for('static',filename='/assets/images/loader.png')}}" class="preloader__image" alt="">
    </div><!-- /.preloader -->

    <div class="progress-container fixed-top">
        <div class="progress-bar" id="myBar"></div>
    </div>

    <!-- <img src="{{ url_for('static', filename=productData.imgPath) }}" alt="hello"> -->
    <!-- <img src="{{url_for('static',filename='{{productData.imgPath}}')}}" alt="hello"> -->

    <div class="page-wrapper">


        <div class="site-header__header-one-wrap">

            <div class="topbar-one">
                <div class="topbar_bg"
                    style="background-image: url({{url_for('static',filename='/assets/images/shapes/header-bg.png')}})">
                </div>
                <div class="container">
                    <div class="topbar-one__left">
                        <a href="#"><span class="icon-message"></span>needhelp@agriplex.com</a>
                        <a href="tel:+919193363600"><span class="icon-phone-call"></span>+91 91933 63600</a>
                    </div>
                    <div class="topbar-one__middle">
                        <a href="index.html" class="main-nav__logo">
                            <img src="{{url_for('static',filename='/assets/images/resources/agroplex-logo.png')}}"
                                class="main-logo" alt="Awesome Image" />
                        </a>
                    </div>
                    <div class="topbar-one__right">
                        <div class="topbar-one__social">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <header class="main-nav__header-one">

                <nav class="header-navigation stricky">

                    <!-- <nav class="header-navigation "> -->
                    <div class="container clearfix " style="justify-content: space-evenly;">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="main-nav__left d-flex ">
                            <!-- <a href="#" class="main-nav__search search-popup__toggler"><i class="icon-magnifying-glass"></i></a> -->
                            <a href="#" class="side-menu__toggler">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <div class="main-nav__main-navigation">
                            <ul class=" main-nav__navigation-box">
                                <li class="navForScrollEffect dropdown current">
                                    <a href="#home">Home</a>
                                </li>
                                <li class="navForScrollEffect dropdown">
                                    <a href="#about">About Us</a>
                                </li>
                                <li class="navForScrollEffect dropdown">
                                    <a href="#products">Our Products</a>
                                </li>
                                <li class="navForScrollEffect">
                                    <a href="#contact-us">Contact Us</a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->


                    </div>
                </nav>
            </header>
        </div>

        <section class="page-header"
            style="background-image: url({{url_for('static',filename=productData.bannerImg)}});">
            <div class="container">
                <h2>{{productData.name}}</h2>
                <ul class="invisible thm-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Services Detail</span></li>
                </ul>
            </div>
        </section>

        <section class="service_detail">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <div class="service_details_left">

                            <ul class="list-unstyled service_all_list">
                                <li><a href="/#products">All Products</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <div class="service_details_right">
                            <div class="service_details_One_img">
                                <img src="{{ url_for('static', filename=productData.pageImgOne) }}" alt="">
                                <!-- <img src="{{productData.pageImgOne}}" alt="hello"> THIS IS NOT WORKING OR WILL NOT WORK-->
                            </div>
                            <div class="harvest_innovations">
                                <h2>{{productData.name}}</h2>
                                <p>{{productData.data}}</p>

                                <p class="harvest_innovations_bottom_text">Beyond more stoic this along goodness hey
                                    this this wow manatee mongoose one as since a far flustered impressive manifest far
                                    crud opened inside owing punitively around forewent and after wasteful telling
                                    sprang coldly and spoke less clients. Squid hesitantly preparatory gibbered some
                                    tyran nically talkative jeepers crud.</p>

                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="service_details_single_img_box">
                                        <img src="{{ url_for('static', filename=productData.pageImgTwo) }}" alt="">
                                        
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="service_details_single_img_box">
                                        <img src="{{ url_for('static', filename=productData.pageImgTwo) }}" alt="">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="agriculture_solutions">
                                <h3>Agriculture Solutions</h3>
                                <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui
                                    dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta
                                    sunt explicabo. Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit
                                    amet finibus eros. Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.</p>
                            </div>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check"></i>Research beyond the business plan</li>
                                <li><i class="fa fa-check"></i>Marketing options and rates</li>
                                <li><i class="fa fa-check"></i>The ability to turnaround consulting</li>
                                <li><i class="fa fa-check"></i>Help companies into more profitable</li>
                            </ul>

                            <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                <div class="accrodion active">
                                    <div class="accrodion-title">
                                        <h4>Why are your tours so expensive?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available but majority have
                                                alteration in some by inject humour or random words. Lorem ipsum dolor
                                                sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel
                                                ea iisque aliquam.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion ">
                                    <div class="accrodion-title">
                                        <h4>Which payment methods are acceptable?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available but majority have
                                                alteration in some by inject humour or random words. Lorem ipsum dolor
                                                sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel
                                                ea iisque aliquam.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>How to book the new tour for 2 persons?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available but majority have
                                                alteration in some by inject humour or random words. Lorem ipsum dolor
                                                sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel
                                                ea iisque aliquam.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>All taxes are included in the booking prices?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available but majority have
                                                alteration in some by inject humour or random words. Lorem ipsum dolor
                                                sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel
                                                ea iisque aliquam.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="site-footer">
            <div class="site-footer_farm_image"><img
                    src="{{url_for('static',filename='/assets/images/resources/site-footer-farm.png')}}"
                    alt="Farm Image"></div>
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="footer-widget__column footer-widget__about wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__title">
                                <h3>About</h3>
                            </div>
                            <div class="footer-widget_about_text">
                                <p>Lorem ipsum dolor sit amet, adipiscing elit. Nulla placerat posuere dui. Pellentesque
                                    venenatis sem non lacus ac auctor.</p>
                            </div>
                            <form>
                                <div class="footer_input-box">
                                    <input type="Email" placeholder="Email Address">
                                    <button type="submit" class="button"><i class="fa fa-check"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="footer-widget__column footer-widget__contact wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__title">
                                <h3>Contact</h3>
                            </div>
                            <div class="footer-widget_contact">
                                <p>Agriplex Agro Private Limited<br>Kh. No. 666, Village Kaniya Kalyanpur
                                    Pargana Tehsil, <br> Hapur - 245101
                                </p>
                                <a href="mailto:needhelp@agrikol.com">needhelp@agrikol.com</a><br>
                                <a href="tel:+919193363600">9193363600</a>
                                <div class="site-footer__social">
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="site-footer_bottom">
            <div class="container">
                <div class="site-footer_bottom_copyright">
                    <p>@ All copyright 2020, <a href="#">Layerdrops.com</a></p>
                </div>
                <div class="site-footer_bottom_menu">
                    <ul class="list-unstyled">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>




    </div><!-- /.page-wrapper -->


    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


    <div class="side-menu__block">


        <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-menu__block-overlay -->
        <div class="side-menu__block-inner ">
            <div class="side-menu__top justify-content-end">

                <a href="#" class="side-menu__toggler side-menu__close-btn"><img
                        src="{{url_for('static',filename='/assets/images/shapes/close-1-1.png')}}" alt=""></a>
            </div><!-- /.side-menu__top -->


            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>
            <div class="side-menu__sep"></div><!-- /.side-menu__sep -->
            <div class="side-menu__content">
                <p><a href="mailto:needhelp@tripo.com">needhelp@tripo.com</a> <br> <a href="tel:888-999-0000">888 999
                        0000</a></p>
                <div class="side-menu__social">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </div><!-- /.side-menu__content -->
        </div><!-- /.side-menu__block-inner -->
    </div><!-- /.side-menu__block -->



    <!-- <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div> -->


    <script src="{{url_for('static',filename='/assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/TweenMax.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/wow.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/swiper.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/typed-2.0.11.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/vegas.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/jquery.validate.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/bootstrap-select.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/countdown.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/nouislider.min.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/isotope.js')}}"></script>
    <script src="{{url_for('static',filename='/assets/js/appear.js')}}"></script>

    <!-- template scripts -->
    <script src="{{url_for('static',filename='/assets/js/theme.js')}}"></script>
</body>

</html>